<!--/views/flex_from_currency.erb-->
<h1>Convert <%=@og_currency%> to <%=@new_currency%></h1>
<p>1 <%=@og_currency%> equals <%=@conversion_rate%> <%=@new_currency%>.</p>
<p>Go <a href = "/<%=@og_currency%>">back</a>.</p>
